#available-courses{
    display: flex;
    justify-content: space-evenly;
}

/* A dynamically created div card that is in card form */
.course-cards{
    border: solid 1px black;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 4px;
    transition: 0.5s;
}

.course-cards:hover{
    font-style: italic;
    width: 250px;
    height: 350px;
    transition: 0.5s;
    margin: 10px;
    font-size: 20px;
    background-color: lightgreen;
}

.course-cards a{
    text-decoration: none;
}
