<h1>Edit user information below</h1>
<form action="/students/<%= @student.slug %>" method="POST">
    <input type="hidden" value="patch" name="_method">
    <label for="first-name">Edit First Name: </label><input id="first-name" name="firstname" type="text" value="<%= @student.firstname %>"/><br><br>
    <label for="last-name"> Edit Last Name: </label><input id="last-name" name="lastname" type="text" value="<%= @student.lastname %>"/><br><br>
    <label for="username">Edit Username: </label><input id="username" name="username" type="text" value="<%= @student.username %>"/><br><br>
    <input type="submit" value="Update User"><a href="/"><button>Cancel</button></a>
</form>
