<h1>Welcome future student!</h1>
<h1>Create a new account below!</h1>
<div id="signup-form-wrapper">
    <form action="/signup" method="POST">
        <label for="first-name">First Name: </label><input id="first-name" name="firstname" type="text" placeholder="Enter your first name"/><br><small>Invalid First Name</small><br><br>
        <label for="last-name">Last Name: </label><input id="last-name" name="lastname" type="text" placeholder="Enter your last name"/><br><small>Invalid Last Name</small><br><br>
        <label for="username">Create Username: </label><input id="username" name="username" type="text" placeholder="Create a username"/><br><small>Invalid Username</small><br><br>
        <label for="password">Create Password: </label><input id="password" name="password" type="password" placeholder="Create a password"><br><small>Invalid Password</small><br><br>
        <label for="password-conf">Confirm Password: </label><input id="password-conf" name="passwordconf" type="password" placeholder="Confirm password"><br><small>Passwords don't match</small><br><br>
        <input type="submit" value="Signup">
    </form>
</div>

<script src="/javascripts/courses/new.js">//js code for sign up page</script>