<ul>
    <li>
        <form action="/students/<%= @student.slug %>" method="POSt">  
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input style="color: red" type="submit" value="Delete Profile">
        </form>
    </li>
    <li><a href="/students/<%= @student.slug %>/edit">Edit Profile</a></li>
    <li><a href="/courses/delete">Drop Course</a></li>
    <li><a href="/courses/edit">Edit Courses</a></li>
</ul>