<ul id="settings-options">
    <li><a href="/students/<%= @student.slug %>/edit">Edit Profile</a></li>
    <li><a href="/courses/create">Create a new Course!</a></li>
    <li><a href="/courses/edit">Edit Courses</a></li>
    <li>
        <form action="/students/<%= @student.slug %>" method="POST">  
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input style="color: red" type="submit" value="Delete Profile">
        </form>
    </li>
</ul>