<h1>Welcome future student!</h1>
<h1>Sign up below</h1>
<form action="/courses" method="POST">
    <label for="title">Course Title: </label><input id="title" name="title" type="text" placeholder="Enter a title for the course"/><br><br>
    <label for="cirriculum">Last Name: </label><input id="last-name" name="lastname" type="text" placeholder="Enter your last name"/><br><br>
    <label for="completed?">Completed Course?: </label><input id="completed?" name="completed?" type="checkbox"/><br><br>
    <input type="submit" value="Signup">
</form>