<h1>Hello, <%= @student.username %>.</h1>
<h2>Create a course for your students below.</h2>
<form action="/courses" method="POST">
    <label for="title">Course Title: </label><input id="title" name="title" type="text" placeholder="Enter a title for the course"/><br><br>
    <label for="cirriculum">Course Cirriculum: </label><textarea id="cirriculum" name="cirriculum" type="text" placeholder="Enter course cirriculum"></textarea><br><br>
    <label for="title">Course Difficulty: </label><input id="difficulty" name="difficulty" type="text" placeholder="Enter course difficulty level"/><br><br>
    <label for="language"> </label><input id="language" name="language" type="text" placeholder="Enter the courses language"/><br><br>
    <input type="submit" value="Create Course">
</form>