<h1>All  courses:</h1>
<div>
    <p>Course Title: <%= @course.title%></p>
    <p><%= @course.cirriculum%></p>
    <p>Difficulty Level: <%= @course.difficulty%></p>
    <p>Languages: <%= @course.language%></p>
</div>