
<div id="greeting">
    <h1>Welcome to CS Warrior's Learning Academy!</h1>
    <p>A 100% free learning environment for newbie coders and computer science nerds!</p>
</div>

<div id="cirriculum">
    <p class="courses" id="html-css">HTML / CSS</p>
    <p class="courses" id="javascript">JavaScript</p>
    <p class="courses" id="ruby">Ruby</p>
    <p class="courses" id="dna">Data Structures and Algorithms</p>
    <p class="courses" id="python">Python</p>
</div>