<h1>Welcome to the Student Learning Management System!</h1>

<h2>You can log in below if you're a returning student, or sign up if you're a new student joining us!</h2>
<a href="/login"><input type="submit" value="Login"/></a><br>
<a href="/signup"><input type="submit" value="Signup"/></a><br>