
<div id="greeting">
    <h1>Welcome to CS Warrior's Learning Academy!</h1>
    <h3>A place where students teach eachother by creating an engaging cirriculum for other.</h3>
</div>

<div id="cirriculum">
    <div class="courses" id="html-css">HTML / CSS</div>
    <div class="courses" id="javascript">JavaScript</div>
    <div class="courses" id="ruby">Ruby</div>
    <div class="courses" id="dna">Data Structures and Algorithms</div>
    <div class="courses" id="python">Python</div>
</div>
