<h1>Welcome back! Login</h1>
<div id="main-div-wrapper">
    <div id="login-form-wrapper">
        <form action="/login" method="POST">
            <label for="username">Enter Username: </label><input id="username" name="username" type="text" placeholder="Enter Username"/><br><br>
            <label for="password">Enter Password: </label><input id="password" name="password" type="password" placeholder="Enter Password"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>