<h1>Welcome future student!</h1>
<h1>Sign up below</h1>
<form action="/signup" method="POST">
    <label for="first-name">First Name: </label><input id="first-name" name="first-name" type="text" placeholder="Enter your first name"/><br><br>
    <label for="last-name">Last Name: </label><input id="last-name" name="last-name" type="text" placeholder="Enter your last name"/><br><br>
    <label for="username">Create Username: </label><input id="username" name="username" type="text" placeholder="Create a username"/><br><br>
    <label for="password">Create Password: </label><input id="password" name="password" type="password" placeholder="Create a password"><br><br>
    <label for="password-conf">Confirm Password: </label><input id="password-conf" name="password-conf" type="password" placeholder="Create a password"><br><br>
    <input type="submit" value="Signup">
</form>